@font-face {
    font-family: 'montserrat-regular';
    src: url('../fonts/Montserrat-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    font-family: 'montserrat-regular', 'sans-serif';
}

.anchor{
    display: block;
    height: 115px; /*same height as header*/
    margin-top: -115px; /*same height as header*/
    visibility: hidden;
}

p, blockquote {
    font-size: .86em;
    line-height: 1.9em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
    padding: .8em 1.2em;
}

.logo {
    width: 20px;
    padding: 0 1em 9em;
    margin-top: 25px;
}

section {
    align-items: center;
}

.hide-mobile {
    display: none;
}

header {
    display: flex;
    justify-content: space-between;
}

.menu {
    width: 40px;
    margin-top: 55%;
}

h1, .subhead {
    position: relative;
    z-index: 3;
}

h1 {
    font-size: 2.5em;
}

.section-title {
    margin: 1em 0 2em 0;
    padding: 0;
    line-height: 60px;
    font-weight: 700;
    font-size: 48px;
}

.subhead {
    font-size: 1.5em;
    margin-bottom: 30%;
}

.dark-blue-container {
    background: #0b162b;
    color: #fff;
}

.white-container {
    background: #ffffff;
    color: #0b162b;
}

.gray-container {
    background: #f8f8f8;
    color: #0b162b;
}

.about-me-container {
    width: 100%;
    margin-top: 15%;
    margin-bottom: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.portfolio-container {
    display: flex;
    align-items: center;
    margin-top: -15%;
    margin-bottom: 15%;
}

.container_image {
    margin: auto;
    width: 50%;
    object-fit: contain;
    align-self: center;
}

.container_text {
    flex: 1 1 auto;
    text-align: center;
    max-width: 80%;
}

.about-me-container .profile-picture {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: -3em;
    margin-bottom: 1em;
    width: 50%;
    max-width: 400px;
    min-width: 300px;
}

.skills-container {
    width: 100%;
    padding: 4em 0 2em;
    margin-top: -20%;
    margin-bottom: 5%;
}

.skills-container ul {
    text-align: center;
    padding-bottom: 1em;
}

.skills-container ul:first-child {
    margin-top: -7%;
}

.technical-skills li {
    font-size: 19px;
    text-align: center;
    padding: 0 2em 1em;
    width: fit-content;
    margin: 0 auto;
    display: inline-block;
}


figure {
    margin: 0;
    padding: 0;
}

figcaption {
    font-weight: bold;
    color: #00c2ff; 
}

h2 {
    margin-top: 7%;
    margin-bottom: 10%;
}

.experience-container {
    margin-top: -15%;
    margin-bottom: 7%;
}

.job-title {
    margin-bottom: 2%;
}

.bullet {
    color: #5558DB;
    font-size: 20px;
}

.company-tenure-columns {
    display: flex;
    justify-content: space-around;
    margin-top: 2em;
}

.cta {
    background: #5558db;
    width: calc(100% - 2em);
    display: block;
    color: #ffffff;
    border-radius: 10px;
    padding: .5em;
    text-decoration: none;
    text-align: center;
    font-size: 1em;
    margin: 3% auto 7%;
    position: relative;
    float: left;
    z-index: 4;
}

.footer-container {
    width: 100%;
    background: #0b162b;
    color: #ffffff;
    padding: 1em 0;
}

ul.footer-links {
    margin: 0 auto;
}

ul.footer-links li {
    display: inline-block;
}

ul.footer-links li a {
    color: #9d9d9d;
    font-size: .8em;
}

nav ul {
    float: right;
    position: fixed;
    width: 60%;
    top: 0;
    right: 0;
    text-align: left;
    background: rgb(36, 41, 44);
    height: 100%;
    z-index: 7;
    padding: 3em;
}

nav ul li a {
    
    color: #fff;
    text-decoration: none;
    display: block;
    width: 100%;
    padding: 1em 2em;
    background-color: rgb(52, 59, 63);
}

nav ul li a:hover {
    background-color: rgb(65, 73, 78);
}

.exit-btn {
    margin-bottom: 1em;
    margin-top: -1.3em;
    text-align: right;
    padding: 0 1.4em;
}

.exit-btn img {
    width: 15px;
    cursor: pointer;
}

input, textarea {
    font-family: 'montserrat-regular';
}

input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

input[type=submit] {
    background-color: #5558db;
    color: #ffffff;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'montserrat-regular'
}  

.footer-container p {
    margin-top: -20%;
    font-size: 15px;
}

@media only screen and (min-width: 580px) {
    .section-title {
        margin: 1em 0 3em 0;
    }
}

@media only screen and (min-width: 680px) {

    h1 {
        font-size: 3em;
        margin: 0;
    }

    .subhead {
        font-size: 1.4em;
        margin-bottom: 12%;
    }

    .skills-container ul:first-child {
        margin-top: 0%;
    }

    .experience-container {
        margin-top: -12%;
    }

    nav ul {
        width: 40%;
    }

    .footer-container p {
        margin-top: -10%;
    }
}

@media only screen and (min-width: 875px) {

    .subhead {
        margin-bottom: 15;
    }

    .skills-container {
        margin-top: -15%;
    }

    .skills-container ul {
        margin: 2% 0 0;
    }

    .skills-container ul:first-child {
        margin-top: 3%;
    }

    .skills-container ul:last-child {
        margin-top: -5%;
    }

    .about-me-container {
        flex-direction: row;
        margin-bottom: 20%;
    }

    .container_text {
        text-align: left;
    }

    .about-me-container p {
        max-width: 80%;
    }

    .experience-container {
        margin-top: -7%;
    }

    .portfolio-container {
        margin-bottom: 10%;
    }

    .container_text {
        max-width: 50%;
        margin-top: -7em;
    }

    .about-me-container .profile-picture {
        margin-top: -3em;
        max-width: 25%;
        min-width: 25%;
    }

}

@media only screen and (min-width: 1024px) {

    .about-me-container {
        margin-top: -5%;
        margin-bottom: 8%;
    }

    .cta {
        width: 50%
    }

    .container {
        width: 80%;
        margin: 0 auto;
    }

    .show-desktop {
        display: block;
        margin: 0 auto 13% auto;
    }

    .hide-desktop {
        display: none;
    }

    .logo {
        width: 20px;
        padding: 0 1em 9em;
        margin: 0;
    }

    .first-portfolio{
        margin-top: -5%
    }

    nav ul {
        position: inherit;
        width: auto;
        background: none;
        height: auto;
        display: flex;
        padding-top: 0;
    }

    nav ul li {
        float: left;
    }

    nav ul li a {
        color: #fff;
        display: default;
        background-color: inherit;
        text-align: center;
        padding: 1em 2em;
    }

    nav ul li a:hover {
        background-color: inherit;
    }
    
    .scroll {
        width: 30px;
        animation: move 2s infinite alternate;
    }

    @keyframes move {
        0% {
            transform: translateY(0px);
        }
        100% {
            transform: translateY(20px);
        }
    }

}

@media only screen and (min-width: 1600px) {

    .container {
        width: 70%;
    }

    .about-me-container {
        padding: 7em 0 2em;
    }

    .about-me-container ul li p, blockquote {
        font-size: 1.2em;
    }

    .skills-container {
        padding: 6em 0 4em;
    }

    h2 {
        margin-top: 4em;
    }

    .about-me-container img {
        /* width: 15%; */
    }
}